@model IEnumerable<Proiect_Derscanu_Smaranda.Models.HaberdasheryViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Fabrics Statistics";
}
<h2>Ordered Fabrics Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Fabrics
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.FabricCount
            </td>
        </tr>
    }
</table>